/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/03/07
author:    [your email]
email:     [you at domain dot com]
website:   [your domain]
version history: [location of file]
-----------------------------------------------------------------------------*/



//////////////////////////////////////////////////////
///     Load Mixens
//////////////////////////////////////////////////////

/*@import "preboot.less";*/    // Optional Less Mixens Library
@import "normalize.less";
@import "lesshat.less";
@import "variables";
@import "html5-boilerplate-defaults.less";
@import "my-mixens.less";
@import "clean.less";

// Import Web Components
@import "header.less";
@import "footer.less";
@import "forms.less";
@import "tables.less";



//////////////////////////////////////////////////////
///     General Styles
//////////////////////////////////////////////////////


html {
	font-size: 1em;
	overflow-y: scroll;
   	-ms-overflow-style: scrollbar;
   	-webkit-font-smoothing: antialiased;
}


body {
    font-family: @fontFamily;
	font-size: 100%;
	line-height: 1.2;
}


main {
   width: 80%;
   margin: auto;
   background: #FFFFFF;
   padding: 30px 25px 50px 25px;
   box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
   min-height: 900px;  /* Get rid of this after adding some content */
}


// Header Styles
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
}


// Float Classes
.clear { clear:both; }
.right { float: right; }
.left { float: left; }



//////////////////////////////////////////////////////
///     Bootstraps Viewports
//////////////////////////////////////////////////////

// Extra small
@media only screen and (max-width: 768px){

    main {
       width: 100%;
       border: none;
    }

}

// Small
@media only screen and (min-width: 768px) and (max-width: 992px){

}

// Medium
@media only screen and (min-width: 992px) and (max-width: 1200px){

}

// Large
@media only screen and (min-width: 1200px){

}
